{% extends "base.html"%}
{% block pagetitle %}
    新增用户
{% endblock%}

{% block main %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>填写资料</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div> <!-- /x_title -->
      <div class="x_content">
        <br />
        <form id="addUserForm" data-parsley-validate class="form-horizontal form-label-left">

          <!-- name_input -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">用户名<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" name="name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <!-- /name_input -->

          <!-- name_cn -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">中文名<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" name="name_cn" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <!-- /name_cn -->

          <!-- password -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">密码<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" name="password" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <!-- /password -->

          <!-- email -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">邮箱<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" name="email" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <!-- /email -->

          <!-- mobile -->
          <div class="form-group">
              <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">手机号</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="mobile" class="form-control col-md-7 col-xs-12" >
              </div>
          </div>
          <!-- /mobile -->

          <!-- role -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">权限<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div id="gender" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="role" value="admin"> &nbsp; 管理员 &nbsp;
                </label>
                <label class="btn btn-default"  data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="role" value="common"> 普通用户
                </label>
              </div>
            </div>
          </div>
          <!-- /role -->

          <!-- status -->
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">状态<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div id="gender" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="status" value="0"> &nbsp; 启用 &nbsp;
                </label>
                <label class="btn btn-default"  data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="status" value="1"> 锁定
                </label>
              </div>
            </div>
          </div>
          <!-- /status -->

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <a href="/user/userlist">
                <button type="button" class="btn btn-primary" >取消</button>
              </a>
              <button id="addUserButton" type="submit" class="btn btn-success">提交</button>
            </div>
          </div>

        </form>
      </div> <!-- x_content  -->
    </div> <!-- /x_panel -->
  </div>
</div> <!-- /row -->
{% endblock %}

{% block js %}
<script>
//点击提交表单按钮时 post注册表单请求
$("#addUserButton").on('click',function(){
  var str = $("#addUserForm").serialize()
  $.post('/user/add',str,function(data){
    data = JSON.parse(data)
    if (data['code'] == 0){
      swal({
        title: "",
        text: "successful",
        type:"success",
        confirmButtonText:"确定"
      }, function(){
        $("#chinfoModal").modal('hide')
        //location.reload()
        location.href='/user/userlist'
      })
    }else{
      swal({
        title: "",
        text: "error",
        type:"error",
        confirmButtonText:"确定"
      })
    }
  })
  return false
})

</script>
{% endblock %}